<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>

		<nav class="site-nav">
			<ul>
			{% if site.theme_settings.site_navigation_sort %}
				{% assign site_pages = site.pages | sort: site.theme_settings.site_navigation_sort %}
			{% else %}
				{% assign site_pages = site.pages %}
			{% endif %}
			{% for page in site_pages %}
			
			{% endfor %}

            <!-- Search bar -->
            {% if site.theme_settings.search %}
				<li>
					<form action="{{ site.baseurl }}/search.html" method="get">
						<input type="text" id="search-box" name="query" placeholder="Search" class="">
							<button type="submit" class="">
								<i class="fa fa-fw fa-search"></i>
							</button>
						</form>
					</li>
            {% endif %}

			<!-- Social icons from Font Awesome, ifenabled  -->
			{% include icons.html %}
				</ul>
			</nav>
		</div>

		<div class="site-category">
			<ul class='cat1'>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">Daily</a>
					<ul>
						<li>
							<a href="/Daily/Essay">Essay</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/">Research</a>
					<ul>
						<li>
							<a href="/Research/Energy">Energy</a>
						</li>
						<li>
							<a href="/Research/ML&DL">ML&DL</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>

	</header>
